
.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    background-image: url("../../assets/bg5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


