.best-score{
    min-height: 91vh;
    font-size: 1.5rem;
    background:url("../../assets/bg2.jpg") no-repeat center center fixed;
    background-size: cover;

    & > div{
        margin-left: 50px;
        padding: 25px;
        font-family: sans-serif;
        color: white;
    }
}